.dotted {
    border: 1px dashed;
    border-color: #afafaf;
    background-color: transparent;
}

.filled {
    border: 1px solid;
    border-color: #afafaf;
    background-color: transparent;
}

.input_constructor {
    max-height: 22px;
    font-size: 18px;
    font-weight: 500;
}

.editable-title {
    font-size: 18px;
    font-weight: 500;
}

.card_size {
    width: 550px;
}

.pulsing_border {
    border: 5px rgba(1, 41, 112, 0.29) solid !important;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.29);
    transition: border 0.2s ease-in-out;
}

.card {
    border: 5px transparent solid;
}

.radius-5 {
    border-radius: 10px
}

.block-action {
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.block-action_style {
    background-color: #f3f3f3;


}

.emoji {
    border-radius: 100px;
    width: 32px;
    height: 32px;
    padding: 3px;
    margin: 10px;
    display: block;
    vertical-align: middle;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.add_action_block {
    width: 100%;
}

/*.user_emoji {*/
/*    background-color: #6a7cb6;*/

/*}*/

/*.bot_emoji {*/
/*    background-color: #986fb9;*/

/*}*/

.emoji img {
    width: 25px;
}

.block-action-bot {
    border-radius: 10px 10px 0px 0px;
    max-width: 385.5px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    max-width: 800px;


}

.block-action-user {
    border-radius: 10px 10px 0px 10px;
    /*border-radius: 10px 10px 10px 0px;*/
    max-width: 800px;

}

.block-action-bot_middle {
    border-radius: 0px 0px 0px 0px;
    /*border-radius: 10px 10px 10px 0px;*/

}

.block-action-bot_end {
    border-radius: 0px 0px 10px 0px;
    /*border-radius: 10px 10px 10px 0px;*/
    max-width: 800px;

}


.block-action .action_title {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    min-height: 47px;
}

.intent_example {
    font-size: 14px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: #4154f1;
}

.intent_example .on_hover_intent:hover {
    color: rgb(42, 55, 166);
}

.intent_button {
    background-color: #f3f3f3;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin: 0.2rem;
}

.block-action .action_body {
    font-size: 16px;
    padding: 1rem;
    padding-top: 0;
    font-weight: 50;
}

.block-action .text-field {
    padding-left: 1.5rem;

}

.block-action .action_body .additional_info {
    font-size: 14px;
    padding-top: 0.25rem;
    font-weight: 50;
}

.additional_info_list {
    cursor: pointer;
}

.intent_example {

}

.info_icon {
    cursor: pointer;
}

.info_icon {
    font-size: 14px;
    color: #969696;
    /*background-color: #dedede;*/
    height: 32px;
    width: 32px;
    border-radius: 100px;
    margin: 0.2rem;
}

.info_icon:hover {
    font-size: 14px;
    color: #646464;
    background-color: rgba(121, 121, 121, 0.24);
    /*height: 32px;*/
    /*width: 32px;*/
    border-radius: 100px;
    transition: 0.3s

    /*margin: 0.2rem;*/
}

.delimiter {
    border-bottom: #e1e1e1 dotted;
    margin-bottom: 1rem;
}

.delimiter .keyboard_record span {
    background-color: #fff;

}

.delimiter .keyboard_record {
    position: relative;
    top: 13px;
    /*background-color: #fff;*/
}

.block-action .action_body .intent-element {
    font-size: 14px;
    padding: 1rem;
    font-weight: 50;
    background-color: #fff;
    width: 100%;
    /*cursor: pointer;*/
}

.screen_info {
    font-size: 14px;
    margin-top: 1rem;
}

.pointer_block {
    cursor: no-drop !important;
}

.accordion_component {
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
}

.intent_info {
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: 200;
    margin-top: 0.25rem;
    padding-bottom: 0.5rem;
}

.block-action .action_body .additional_info_style {
    text-decoration: underline dotted;
    padding-left: 0.25rem;
    cursor: pointer;
}


.add_screen {
    width: 100px;
    writing-mode: vertical-rl;
}


.add_screen .card-icon {
    font-size: 22px;
    line-height: 0;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 1rem;
}

.button_block {
    /*position: fixed;*/
    z-index: 993;
    /*box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);*/
    /*padding-left: 20px;*/
    /*right: 15px;*/
    /*bottom: 15px;*/
}

.button_block button {
    border-radius: 300px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;

}

.button_block #button_fixed_add {
    position: fixed;
    z-index: 993;
    right: 15px;
    bottom: 15px;
}
.button_block #button_fixed_save {
    position: fixed;
    z-index: 993;
    right: 15px;
    top: 70px;
}

.button_block #button_fixed_start {
    position: fixed;
    z-index: 993;
    right: 15px;
    bottom: 85px;
}

@media (min-width: 800px) {
    .button_block button .hide_sm {
        /*display: flex;*/
    }
}

.box_text {
    font-size: 16px;
    padding-left: 0.5rem;
}

@media (max-width: 800px) {
    .button_block button .hide_sm {
        display: none;
    }
}

@media (max-width: 800px) {
    .emoji {
        display: none;
    }

    .block-action-bot {
        border-radius: 10px 10px 10px 10px;
        max-width: 100%;


    }

    .block-action-user {
        border-radius: 10px 10px 10px 10px;
        min-width: 436px;
        align-items: flex-end !important;
        justify-content: flex-start !important;

    }


}

.keyboard {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

.keyboard div {
    font-size: 14px;
    text-align: end;
    padding-bottom: 0.5rem;
}

.keyboard input {
    width: 100%;
}

input[type=range] {
    width: 100%;
    margin: -3px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #bfbfbf;
    border: 3px solid rgba(1, 1, 1, 0.1);
    border-radius: 25px;
    width: 100%;
    height: 32px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: 0px;
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 26px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

input[type=range]::-moz-range-track {
    background: #bfbfbf;
    border: 3px solid rgba(1, 1, 1, 0.1);
    border-radius: 25px;
    width: 100%;
    height: 32px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 26px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 0 0;
    color: transparent;
    width: 100%;
    height: 32px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #bfbfbf;
    border: 3px solid rgba(1, 1, 1, 0);
    border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
    background: #bfbfbf;
    border: 3px solid rgba(1, 1, 1, 0);
    border-radius: 50px;
}

input[type=range]::-ms-thumb {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 26px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #bfbfbf;
}

input[type=range]:focus::-ms-fill-upper {
    background: #bfbfbf;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
.remove{
    color: #bd0101;
}
.input_text_area {
    border: #fff 0px solid;
    margin-left: 0.5rem;
    border-left: #afafaf 3px dotted;
    background-color: transparent;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 14px;
    width: 100%;
    /*max-width: 328px;*/
    resize: none;
    outline: none;
    overflow: hidden;
}

.input_text_area:focus {
    outline: none;
}

.additional_info_modal {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    padding: 1rem;

}

.modal_triger {
    cursor: pointer;
}

.card_footer {
    padding: 0 20px 20px 20px;
}

.reaction_button {
    background-color: #198754;
    padding-top: 0.375rem;
    margin-right: 0.5rem;
    padding-bottom: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border: #198754 2px solid;
    font-size: 16px;
    color: #fff;
    border-radius: 100px 100px 100px 100px;
}

.cancel {
    background-color: transparent;
    border: #198754 2px solid;
    color: #198754;
}

.cancel:hover {
    transition: all 0.3s;
    background-color: #258d5d;
    color: #fff;
}

.submit:hover {
    transition: all 0.3s;
    background-color: #107345;
    color: #e3e3e3;
}

.reaction_button i {
    margin-right: 0.25rem;
}

.reaction_button i {
    margin-left: 0.25rem;
}

.modal-window {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 9999; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
    background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
    overflow: auto;

}


.button_action {
    padding-left: 1.5rem !important;
}


.modal_height {
    max-height: 800px;

}


.modal_card {
    margin: 100px auto; /* 15% сверху и по центру */
    max-width: 800px;
    /*width: 80%; !* Может быть больше или меньше, в зависимости от размера экрана *!*/
}

.user_card {
    max-width: 800px;
}

.intent_accordion {
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
}

.white_back {
    background-color: #fff;

}

.intent_accordion .intent_data {
    width: 100%;
    /*margin-right: 0.5rem;*/
}

.intent_accordion .intent_data {
    width: 100%;
}

.input_intent {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 3px #f3f3f3 solid;

    border-radius: 0px 10px 10px 0px;
}

.input_intent_invert {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 3px #afafaf solid;

    border-radius: 0px 10px 10px 0px;
}

.intent_type {
    font-size: 18px;
    background-color: #fff;
    margin: 0px;
    height: 100%;
    border: 0;
    border-left: 3px #f3f3f3 solid;
    border-top: 3px #f3f3f3 solid;
    border-bottom: 3px #f3f3f3 solid;
    border-radius: 10px 0px 0px 10px;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/


}

.intent_type_style {
    font-size: 18px;
    background-color: #fff;
    margin: 0px;
    height: 100%;
    border: 0;
    border-left: 3px #f3f3f3 solid;
    border-top: 3px #f3f3f3 solid;
    border-bottom: 3px #f3f3f3 solid;
    border-radius: 10px 0px 0px 10px;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/


}

.intent_type_invert {
    font-size: 18px;
    background-color: #f3f3f3;
    margin: 0px;
    height: 100%;
    border: 0;
    border-left: 3px #afafaf solid;
    border-top: 3px #afafaf solid;
    border-bottom: 3px #afafaf solid;
    border-radius: 10px 0px 0px 10px;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/


}

.intent_type:hover {
    border-left: 3px #f3f3f3 solid;
    border-top: 3px #f3f3f3 solid;
    border-bottom: 3px #f3f3f3 solid;
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.84);
    margin: 0px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.intent_type_style:hover {
    border-left: 3px #f3f3f3 solid;
    border-top: 3px #f3f3f3 solid;
    border-bottom: 3px #f3f3f3 solid;
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.84);
    margin: 0px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.intent_type_invert:hover {
    border-left: 3px #afafaf solid;
    border-top: 3px #afafaf solid;
    border-bottom: 3px #afafaf solid;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.73);
    margin: 0px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.input_intent::placeholder {
    color: rgba(0, 0, 0, 0.47);
}

.input_intent:focus {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 3px #f3f3f3 solid;

    border-radius: 0px 10px 10px 0px;
}

.input_intent:hover {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    background-color: #f3f3f3;

    border: 3px #f3f3f3 solid;

    border-radius: 0px 10px 10px 0px;
}

.input_intent_invert:focus {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 3px #afafaf solid;

    border-radius: 0px 10px 10px 0px;
}

.input_intent_invert:hover {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    background-color: #fff;

    border: 3px #afafaf solid;

    border-radius: 0px 10px 10px 0px;
}

.input_intent:active {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 3px #f3f3f3 solid;

    border-radius: 0px 10px 10px 0px;
}

.input_intent:active {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 3px #afafaf solid;

    border-radius: 0px 10px 10px 0px;
}


.intent_accordion .intent-content {
    font-size: 14px;
    width: 100%;
}

.intent_accordion .accordion-element {
    padding-top: 0.5rem;

}

.text-field__counter {
    text-align: end;
    padding-top: 0.25rem;
    padding-right: 3.5rem;
    font-size: 12px;
}

.intent_add_text .button-icon {
    color: #8f8f8f;
    background: #ffffff;
}

.add_text,
.button_action {
    cursor: pointer;
}

.intent_search_text .button-icon {
    color: #8f8f8f;
    background: #ffffff;
    font-size: 16px;
}

.intent-element i {
    font-size: 24px;
}

.intent-element .info_icon i {
    font-size: 14px;
}

.accordion_item {
    padding-bottom: 1rem;
}

.intent-element {
    cursor: pointer;
}


.accordion_item:not(.accordion_item_show) .intent_accordion {
    visibility: hidden;
    display: none;
    opacity: 0;
    animation: fadeOut .3s ease-in-out;
}

.button_accordion {
    padding: 0;
}


.accordion_item:not(.accordion_item_show) .bi-chevron-up {
    transform: rotate(180deg);
}

.accordion_item .bi-chevron-up {
    transition: 0.3s transform;
}

@keyframes fadeOut {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


.setting_connection .b-margin {
    margin: 0;
}

/* FAKE SELECT */

.show {
    display: block;
}

.screen_list {
    max-height: 300px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 3px solid #afafaf;
    z-index: 99999;
    min-width: 50%;
    margin-top: 3px;
    /*border-radius: 10px;*/
    padding: 0;
}

.ready_intents {
    position: relative;
    height: auto;
}

.intent_list {
    max-height: 300px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 3px solid #afafaf;
    z-index: 99999;
    overflow-y: auto;
    min-width: 50%;
    margin-top: 3px;
    /*border-radius: 10px;*/
    padding: 0;
}


/* Links inside the dropdown */
.screen_list .screen_id_link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.intent_list .intent_id_link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.screen_list .screen_id_link:hover {
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.69);
}

.intent_list .intent_id_link:hover {
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.69);
}

.hidden {
    display: none !important;
}

.replacement_block {
    background-color: #fff;
    border: 1px #afafaf dashed;
}

.blank_handler {
    cursor: pointer;
}

.screen_list .info {
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.69);
    cursor: auto;
}

.intent_list .info {
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.69);
    cursor: auto;
}

.connection_field:not(.not_show) .screen_list {
    display: block;
}

.inference_bt_block:not(.not_show) .intent_list {
    display: block;
}

.check {
    color: rgb(255, 255, 255);
    background-color: rgba(15, 81, 50, 0.33);
    border-radius: 200px;
    width: 25px;
    height: 25px;
    font-size: 16px;

}

.save_event {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 60px;
    background-color: rgba(123, 90, 239, 0.68);
}

.save_event {
}