{% load static %}
{% block main_page %}
    <main id="constructor" class="main scrollable">

        <div class="d-flex align-content-center justify-content-between">
            <div class="pagetitle">
                <h1>Create yor own chat bot</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">New chatbot</li>
                    </ol>
                </nav>

            </div><!-- End Page Title -->
            <div class="button_block justify-content-end">
                <div id="button_fixed_save">
                    <button class='btn my-1 btn-sm btn-warning d-flex align-items-center justify-content-end'>
                        <span class="hide_sm box_text">Save changes</span>
                        <i class='bi bi-save mx-1'></i>
                        {#                        <p class="img_description">Add screen</p>#}

                    </button>
                </div>
                <div id="button_fixed_add">
                    <button class='btn my-1 btn-sm btn-primary d-flex align-items-center justify-content-end'>
                        <span class="hide_sm box_text">Add new screen</span>
                        <i class='bi bi-plus mx-1'></i>
                        {#                        <p class="img_description">Add screen</p>#}

                    </button>
                </div>
                <div id="button_fixed_start">

                    <button class='btn my-1 btn-sm btn-success d-flex align-items-center justify-content-end'>
                        <span class="hide_sm box_text">Start this bot</span>
                        <i class='bi bi-play mx-1'></i>
                        {#                        <p class="img_description">Test the bot</p>#}

                    </button>
                </div>

            </div>

        </div><!-- End Page Title -->

        <section class="section dashboard ">

            <!-- Left side columns -->
            <div class="row card_container justify-content-xl-start justify-content-md-center justify-content-sm-center">
                <div class="col-xxl-6  may_remove another card_size col-xl-6 col-md-12">
                    <div class="card info-card grey-card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h6>Screen title</h6>
                                <div class="ms-auto">

                                </div>

                                <div class=" d-flex align-items-center justify-content-center">
                                </div>
                                <div class="info_icon remove d-flex align-items-center justify-content-center"><i
                                        class="bi bi-trash mx-3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-end justify-content-center action_block">
                                <div class="emoji bot_emoji">
                                    <img src="{% static "img/media/robot_emoji.png" %}">
                                </div>
                                <div class="block-action ">
                                    <div class=" hidden block-action_style block-action-bot replacement_block blank_handler">
                                        <div class="action_title d-flex align-content-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="bi bi-chat mx-2"></i>
                                                <span>Bot request</span>
                                            </div>

                                        </div>
                                        <div class="action_body text-field d-flex align-items-center">
                                            <div class="button-icon mx-2 rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div> You have to add any request block to display it here
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" may_remove another  block-action_style block-action-bot">
                                        <div class="action_title d-flex align-content-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="bi bi-chat mx-2"></i>
                                                <span>Bot request</span>
                                            </div>

                                            <div class="ms-auto d-flex align-items-center">
                                                <div class="info_icon texts_modal d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-gear mx-3"></i>
                                                </div>
                                                <div class="info_icon remove d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-trash mx-3"></i>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="action_body text-field">
                                            <div>Some information data for this block will appear randomly andd i
                                                dont
                                                know
                                                what
                                                can i add else for this block...
                                            </div>
                                            <div class="additional_info">1 from <span
                                                    class="additional_info_list texts_modal">3 text samples</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" may_remove another block-action_style block-action-bot block-action-bot_middle">
                                        <div class="action_title d-flex align-content-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="bi bi-chat mx-2"></i>
                                                <span>Bot request</span>
                                            </div>

                                            <div class="ms-auto d-flex align-items-center">
                                                <div class="info_icon texts_modal d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-gear mx-3"></i>
                                                </div>
                                                <div class="info_icon remove d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-trash mx-3"></i>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="action_body text-field">
                                            <div>Some information data for this block will appear randomly andd i
                                                dont
                                                know
                                                what
                                                can i add else for this block...
                                            </div>
                                            <div class="additional_info">1 from <span
                                                    class="additional_info_list texts_modal">3 text samples</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add_action_block block-action-bot_end dotted">
                                        <a class="add_action toggle-sidebar-btn" data-toggle="modal">
                                            <div class="d-flex align-items-center p-3">
                                                <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-plus"></i>
                                                </div>
                                                <div class="ps-3">

                                        <span
                                                class="text-muted small">Add an action</span>

                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-end justify-content-center action_block">

                                <div class="block-action block-action_style hidden block-action-user replacement_block blank_handler">
                                    <div class="action_title d-flex align-content-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-chat mx-2"></i>
                                            <span>Bot request</span>
                                        </div>

                                    </div>
                                    <div class="action_body text-field d-flex align-items-center">
                                        <div class="button-icon mx-2 rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-plus"></i>
                                        </div>
                                        <div> You have to add any responses block to display it here
                                        </div>
                                    </div>
                                </div>
                                <div class="block-action block-action_style may_remove block-action-user">
                                    <div class="action_title d-flex align-content-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-inbox mx-2"></i>
                                            <span>User response</span>
                                        </div>
                                        <div class="ms-auto d-flex align-items-center">
                                            <div class="info_icon d-flex intent_trigger align-items-center justify-content-center">
                                                <i
                                                        class="bi bi-gear mx-3"></i>
                                            </div>
                                            <div class="info_icon d-flex align-items-center justify-content-center"><i
                                                    class="bi bi-trash remove mx-3"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="action_body radius-5">
                                        <div class="intent-element intent_trigger d-flex justify-content-between border-bottom">
                                            <div class="intent-content">$NAME</div>
                                            <div class="additional_info p-0">Connected to<a
                                                    class="additional_info_list" href="#10">Hello form</a>
                                            </div>
                                        </div>
                                        <div class="intent-element intent_trigger d-flex justify-content-between">
                                            <div class="intent-content">Any other feedback</div>
                                            <div class="additional_info p-0">Connected to<span
                                                    class="additional_info_list">Hello form</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="emoji user_emoji">
                                    <img src="{% static "img/media/person_1f9d1.png" %}">
                                </div>

                            </div>
                            <div class="delimiter">
                                <div class="keyboard_block">
                                    <div class="d-flex px-auto align-items-center justify-content-center">
                                        <span class="px-2"><i class="bi bi-mouse"> </i>Keyboard buttons</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block-action m-0 block-action_style">
                                <div class="action_body text-field pb-0">
                                    <div class="accordion_item another may_remove border-bottom">
                                        <div class="d-flex justify-content-between align-items-start pt-2">

                                            <div class="pt-2">
                                                <div class="d-flex align-items-start ">
                                                    <i class="bi bi-chevron-up px-2 accordion_button_trigger"></i>
                                                    <div>
                                                                                                            <textarea
                                                                                                                    rows="1"
                                                                                                                    placeholder="Button text"
                                                                                                                    class="input_text_area">keytext 2</textarea>
                                                        <div class="additional_info">Connected to
                                                            <span class="additional_info_list">Hello</span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="info_icon d-flex align-items-center justify-content-center"><i
                                                    class="bi bi-trash remove mx-3"></i>
                                            </div>

                                        </div>
                                        <div class="intent_accordion  button_accordion">

                                            <div class="setting_connection">
                                                <div class="d-flex accordion-element">
                                                    <div class="d-flex intent_data align-items-center">
                                                        <button class="intent_type_style connection_type intent_type_invert">
                                                            <i class="bi bi-link mx-2"></i>
                                                        </button>
                                                        <div class="intent-content b-margin connection_field not_show">
                                                            <input placeholder="Enter the Screen name"
                                                                   class="input_intent input_intent_invert search_screen"
                                                                   type="text" value=""/>
                                                            <div class="screen_list">
                                                                <div class="screen_id_link">About</div>
                                                                <div class="screen_id_link">Base</div>
                                                                <div class="screen_id_link">Blog</div>
                                                                <div class="screen_id_link">Contact</div>
                                                                <div class="screen_id_link">Custom</div>
                                                                <div class="screen_id_link">Support</div>
                                                                <div class="screen_id_link">Tools</div>
                                                                <div class="hidden screen_id_link info">No data was
                                                                    found
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="accordion_item another may_remove border-bottom">
                                        <div class="d-flex justify-content-between align-items-start pt-2">

                                            <div class="pt-2">
                                                <div class="d-flex align-items-start ">
                                                    <i class="bi bi-chevron-up px-2 accordion_button_trigger"></i>
                                                    <div>
                                                                                                            <textarea
                                                                                                                    rows="1"
                                                                                                                    placeholder="Button text"
                                                                                                                    class="input_text_area">keytext 2</textarea>
                                                        <div class="additional_info">Connected to
                                                            <span class="additional_info_list">Hello</span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="info_icon d-flex align-items-center justify-content-center"><i
                                                    class="bi bi-trash remove mx-3"></i>
                                            </div>

                                        </div>
                                        <div class="intent_accordion  button_accordion">
                                            <div class="setting_connection">
                                                <div class="d-flex accordion-element">
                                                    <div class="d-flex intent_data align-items-center">
                                                        <button class="intent_type_style connection_type intent_type_invert">
                                                            <i class="bi bi-link mx-2"></i>
                                                        </button>
                                                        <div class="intent-content b-margin connection_field not_show">
                                                            <input placeholder="Enter the Screen name"
                                                                   class="input_intent input_intent_invert search_screen"
                                                                   type="text" value=""/>
                                                            <div class="screen_list">
                                                                <div class="screen_id_link">About</div>
                                                                <div class="screen_id_link">Base</div>
                                                                <div class="screen_id_link">Blog</div>
                                                                <div class="screen_id_link">Contact</div>
                                                                <div class="screen_id_link">Custom</div>
                                                                <div class="screen_id_link">Support</div>
                                                                <div class="screen_id_link">Tools</div>
                                                                <div class="hidden screen_id_link info">No data was
                                                                    found
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="accordion_item hidden blank_handler">
                                        <div class="d-flex pt-3  align-items-center">
                                            <div class="button-icon m-2  rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div> No one button created for this screen
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a class="add_button">

                                        <div class="dotted radius-5 d-flex align-items-center p-3 my-3">
                                            <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div class="ps-3">

                                        <span
                                                class="text-muted small">Add a button</span>

                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6  hidden card_size col-xl-6 col-md-12">
                    <div class="card info-card grey-card ">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h6>Screen title</h6>
                                <div class="ms-auto">

                                </div>

                                <div class=" d-flex align-items-center justify-content-center">
                                </div>
                                <div class="info_icon remove d-flex align-items-center justify-content-center"><i
                                        class="bi bi-trash mx-3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-end justify-content-center action_block">
                                <div class="emoji bot_emoji">
                                    <img src="{% static "img/media/robot_emoji.png" %}">
                                </div>

                                <div class="block-action block-action_style block-action-bot replacement_block blank_handler">
                                    <div class="action_title d-flex align-content-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-chat mx-2"></i>
                                            <span>Bot request</span>
                                        </div>

                                    </div>
                                    <div class="action_body text-field d-flex align-items-center">
                                        <div class="button-icon mx-2 rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-plus"></i>
                                        </div>
                                        <div> You have to add any request block to display it here
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex align-items-end justify-content-center action_block">

                                <div class="block-action block-action_style block-action-user replacement_block blank_handler">
                                    <div class="action_title d-flex align-content-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-chat mx-2"></i>
                                            <span>Bot request</span>
                                        </div>

                                    </div>
                                    <div class="action_body text-field d-flex align-items-center">
                                        <div class="button-icon mx-2 rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-plus"></i>
                                        </div>
                                        <div> You have to add any responses block to display it here
                                        </div>
                                    </div>
                                </div>
                                <div class="emoji user_emoji">
                                    <img src="{% static "img/media/person_1f9d1.png" %}">
                                </div>

                            </div>
                            <div class="delimiter">
                                <div class="keyboard_block">
                                    <div class="d-flex px-auto align-items-center justify-content-center">
                                        <span class="px-2"><i class="bi bi-mouse"> </i>Keyboard buttons</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block-action">
                                <div class="action_body text-field pb-0">
                                    <div class="accordion_item">
                                        <div class="d-flex pt-3  align-items-center">
                                            <div class="button-icon m-2  rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div> No one button created for this screen
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-sm-12">
                                    <a class="add_action" data-toggle="modal" href="javascript:void(0)">
                                        <div class="dotted radius-5 d-flex align-items-center p-3 my-3">
                                            <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div class="ps-3">

                                        <span
                                                class="text-muted small">Add an action</span>

                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="col-xl-6 col-sm-12">
                                    <a class="add_button">

                                        <div class="dotted radius-5 d-flex align-items-center p-3 my-3">
                                            <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div class="ps-3">

                                        <span
                                                class="text-muted small">Add a button</span>

                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- End Revenue Card -->


        </section>


    </main><!-- End #main -->
    {#    <div class="modal-background"></div>#}
    {#    <div class="save_event">#}
    {#        <div class="d-flex save_info align-items-center justify-content-end">#}
    {#            <div>You have changes, which are not saved. Do you want to save it?</div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="modal-window" id="buttonModal">
        <div class="modal_card card info-card grey-card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    {#                                <i class="bi bi-chevron-down mx-3"></i>#}
                    <h6 class="modal-header">Text replica setting</h6>
                    <div class="ms-auto">

                    </div>
                    <div class="info_icon close_modal d-flex align-items-center justify-content-center"><i
                            class="bi bi-x-lg mx-3"></i>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-end action_block justify-content-center">
                    <div class="emoji bot_emoji">
                        <img src="{% static "img/media/robot_emoji.png" %}">
                    </div>
                    <div class="block-action block-action_style block-action-bot">
                        <div class="action_title d-flex align-content-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-chat mx-2"></i>
                                <span>Bot request</span>
                            </div>


                        </div>
                        <div class="action_body text-field editable_modal">
                            <div class="replicas_block">
                                <div class="py-2 d-flex align-items-start">
                                    <i class="bi bi-pen"></i>
                                    <textarea rows="1" placeholder="Enter the bot message"
                                              class="input_text_area">Some information data for this block will appear randomly andd i dont know what can i add else for this block...</textarea>
                                    <div class="info_icon remove_button d-flex align-items-center justify-content-center">
                                        <i
                                                class="bi bi-trash mx-3"></i>
                                    </div>
                                </div>
                                <div class="py-2 d-flex align-items-start">
                                    <i class="bi bi-pen"></i>
                                    <textarea rows="1" placeholder="Enter the bot message"
                                              class="input_text_area">Another information data for this block will appear randomly andd i dont know what can i add else for this block...</textarea>
                                    <div class="info_icon remove_button d-flex align-items-center justify-content-center">
                                        <i
                                                class="bi bi-trash mx-3"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2">
                                <a class="replica_text_btn" href="javascript:void(0)">
                                    <div class="dotted radius-5 d-flex align-items-center p-3 my-3 add_text">
                                        <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-plus"></i>
                                        </div>
                                        <div class="ps-3">

                                            <span class="text-muted small">Add new replica text</span>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="additional_info_modal text-muted">Bot will randomly send these text replicas</span>
                    <div class="reaction_block d-flex align-items-center">
                        <button id="submit_text" class="reaction_button submit">
                            <div class="d-flex align-items-center justify-content-center"><i
                                    class="bi bi-check icon_button"></i> Submit
                            </div>
                        </button>
                        <button class="reaction_button cancel">
                            <div id="cancel_text" class="d-flex align-items-center justify-content-center"><i
                                    class="bi bi-x icon_button"></i>
                                Cancel
                            </div>
                        </button>
                    </div>

                </div>

            </div>
        </div>


    </div>
    <div class="modal-window" id="userModal">
        <div class="modal_card user_card card info-card grey-card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h6 class="modal-header">User remake</h6>
                    <div class="ms-auto">
                    </div>
                    <div class="info_icon close_modal d-flex align-items-center justify-content-center">
                        <i class="bi bi-x-lg mx-3"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-end justify-content-center action_block">
                    <div class="block-action block-action_style block-action-user">
                        <div class="action_title">
                            <div class=" d-flex align-content-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-inbox mx-2"></i>
                                    <span>User response</span>
                                </div>
                            </div>
                            <div class="intent_info">Active intents list - 20</div>

                        </div>

                        <div class="action_body radius-5">
                            <div class="accordion_component  scrollable modal_height">
                                <div class="accordion_item may_remove another">
                                    <div class="intent-element d-flex justify-content-between border-bottom ">
                                        <div class="d-flex align-items-center"><i class="bi bi-chevron-up mx-2"></i>
                                            <div class="intent-content">$NAME</div>
                                        </div>
                                        <div>
                                            <div class="additional_info p-0 d-flex align-items-center">Connected to<span
                                                    class="additional_info_list">Hello form</span>

                                                <div class="info_icon remove d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-trash mx-3"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="intent_accordion white_back border-bottom">
                                        <div class="setting_intent">
                                            <div class="d-flex may_remove another accordion-element">
                                                <div class="d-flex intent_data align-items-center">
                                                    <button class="intent_type_style intent_type">
                                                        <i class="bi bi-braces-asterisk mx-2"></i>

                                                    </button>
                                                    <div class="intent-content">
                                                        <input placeholder="Enter the placeholder" class="input_intent"
                                                               type="text" name="fruit" value="$NAME"/>
                                                    </div>
                                                </div>
                                                <div class="info_icon remove d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-trash mx-3"></i>
                                                </div>
                                            </div>
                                            <div class="d-flex may_remove another accordion-element">
                                                <div class="d-flex intent_data align-items-center">
                                                    <button class="intent_type_style intent_type">
                                                        <i
                                                                class="bi bi-chat-right-quote mx-2"></i>

                                                    </button>
                                                    <div class="intent-content">
                                                        <input placeholder="Enter the placeholder" class="input_intent"
                                                               type="text" name="fruit" value="$NAME"/>
                                                    </div>
                                                </div>
                                                <div class="info_icon remove d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-trash mx-3"></i>
                                                </div>
                                            </div>
                                            <div class="d-flex hidden blank_handler accordion-element">
                                                <div class="d-flex intent_data align-items-center">
                                                    <button class="intent_type_style intent_type">
                                                        <i
                                                                class="bi bi-chat-right-quote mx-2"></i>

                                                    </button>
                                                    <div class="intent-content">
                                                        <input placeholder="Enter the placeholder" class="input_intent"
                                                               type="text" name="fruit" value=""/>
                                                    </div>
                                                </div>
                                                <div class="info_icon remove d-flex align-items-center justify-content-center">
                                                    <i
                                                            class="bi bi-trash mx-3"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start intent_example justify-content-between">
                                            <div class="intent_example_add on_hover_intent">Add new example</div>
                                            <div class="intent_button_block">
                                                <div class="d-flex on_hover_intent align-items-center justify-content-start">
                                                    <div class="new_intent intent_button d-flex align-items-center justify-content-start">
                                                        <i class="bi mx-2 bi-plus"></i>
                                                    </div>
                                                    Add new intent
                                                </div>

                                                <div class="d-flex on_hover_intent align-items-center justify-content-start">
                                                    <div class="choose_intent intent_button d-flex align-items-center justify-content-start">
                                                        <i class="bi mx-2 bi-lightning-charge"></i>
                                                    </div>
                                                    Choose an existing intent
                                                </div>

                                            </div>
                                        </div>
                                        <div class="setting_connection">
                                            <label>Set the screen name to connect</label>

                                            <div class="d-flex accordion-element">
                                                <div class="d-flex intent_data align-items-center">
                                                    <button class="intent_type_style connection_type">
                                                        <i class="bi bi-link mx-2"></i>
                                                    </button>
                                                    <div class="intent-content connection_field not_show">
                                                        <input placeholder="Enter the Screen name you would connect"
                                                               class="input_intent search_screen"
                                                               type="text" value=""/>
                                                        <div class="screen_list">
                                                            <div class="screen_id_link">About</div>
                                                            <div class="screen_id_link">Base</div>
                                                            <div class="screen_id_link">Blog</div>
                                                            <div class="screen_id_link">Contact</div>
                                                            <div class="screen_id_link">Custom</div>
                                                            <div class="screen_id_link">Support</div>
                                                            <div class="screen_id_link">Tools</div>
                                                            <div class="hidden screen_id_link info">No data was found
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="info_icon d-flex align-items-center justify-content-center">
                                                        <div class="info_icon d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-x mx-3"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion_item">
                                    <div class="intent-element d-flex justify-content-between border-bottom">
                                        <div class="d-flex align-items-center"><i class="bi bi-chat-heart mx-2"></i>
                                            <div class="intent-content">Any other feedback</div>
                                        </div>
                                        <div class="additional_info d-flex align-items-center p-0">Connected to<span
                                                class="additional_info_list">Hello form</span>
                                        </div>
                                    </div>
                                    <div class="intent_accordion white_back border-bottom">
                                        <div class="setting_connection">
                                            <label class="screen_info">Set the screen name to connect</label>
                                            <div class="d-flex accordion-element">
                                                <div class="d-flex intent_data align-items-center">
                                                    <button class="intent_type_style connection_type">
                                                        <i class="bi bi-link mx-2"></i>
                                                    </button>
                                                    <div class="intent-content connection_field not_show">
                                                        <input placeholder="Enter the Screen name you would connect"
                                                               class="input_intent search_screen"
                                                               type="text" value=""/>
                                                        <div class="screen_list">
                                                            <div class="screen_id_link">About</div>
                                                            <div class="screen_id_link">Base</div>
                                                            <div class="screen_id_link">Blog</div>
                                                            <div class="screen_id_link">Contact</div>
                                                            <div class="screen_id_link">Custom</div>
                                                            <div class="screen_id_link">Support</div>
                                                            <div class="screen_id_link">Tools</div>
                                                            <div class="hidden screen_id_link info">No data was found
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="info_icon d-flex align-items-center justify-content-center">
                                                        <div class="info_icon d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-x mx-3"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row inference_bt_block not_show scrollable modal_height">
                                <div class="col-12">
                                    <a class="intent_add_text">
                                        <div class="dotted radius-5 d-flex align-items-center p-3 my-3 add_text">
                                            <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-plus"></i>
                                            </div>
                                            <div class="ps-3">
                                                <span class="text-muted small">Add new user response</span>
                                            </div>
                                        </div>
                                    </a></div>
{#                                <div class="col">#}

{#                                    <a class="intent_search_text">#}
{#                                        <div class="dotted radius-5 d-flex align-items-center p-3 my-3 add_text">#}
{#                                            <div class="button-icon rounded-circle d-flex align-items-center justify-content-center">#}
{#                                                <i class="bi bi-search"></i>#}
{#                                            </div>#}
{#                                            <div class="ps-3">#}
{#                                                <span class="text-muted small">Choose an exiting response</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
                                    {#                                    <div class="ready_intents">#}
                                    {#                                        <div class="intent_list">#}
                                    {#                                            <div class="intent_id_link">About</div>#}
                                    {#                                            <div class="intent_id_link">Base</div>#}
                                    {#                                            <div class="intent_id_link">Blog</div>#}
                                    {#                                            <div class="intent_id_link">Contact</div>#}
                                    {#                                            <div class="intent_id_link">Custom</div>#}
                                    {#                                            <div class="intent_id_link">Support</div>#}
                                    {#                                            <div class="intent_id_link">Tools</div>#}
                                    {#                                            <div class="hidden intent_id_link info">No data was#}
                                    {#                                                found#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}


{#                                </div>#}

                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="emoji flex-fill user_emoji">
                            <img src="{% static "img/media/person_1f9d1.png" %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="reaction_block d-flex align-items-center">
                        <button id="submit_user" class="reaction_button submit">
                            <div class="d-flex align-items-center justify-content-center"><i
                                    class="bi bi-check icon_button"></i>Submit
                            </div>
                        </button>
                        <button class="reaction_button cancel">
                            <div id="cancel_text" class="d-flex align-items-center justify-content-center"><i
                                    class="bi bi-x icon_button"></i>Cancel
                            </div>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock main_page %}