{#<div class="main-body">#}
{#    <div class="manage-btn_block d-flex align-items-start justify-content-between">#}
{#        <div class="block_btn">#}
{#            <div class="d-flex align-items-center justify-content-between">#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="block_btn">#}
{#            <div class="d-flex align-items-center justify-content-between">#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="blocks">#}
{#</div>#}
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-12 col-md-4">

            <div class="card left-menu">
                <div class="card-body">
                    <div class="vertical_list d-flex flex-column flex-sm-row flex-md-column flex-md-column flex-lg-column flex-xl-column">
                            <div>
                                <a class="sidebar-link">
                                    <span>Настройки</span>

                                </a>
                            </div>
                            <div>
                                <a class="sidebar-link">
                                    <span>Акции</span>

                                </a>
                            </div>
                            <div>
                                <a class="sidebar-link">
                                    <span>Системные фразы</span>

                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row justify-content-center right-menu">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 pb-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>Список товаров</h5>
                        </div>
                        <div class="card-body">
                            <a class="button">Открыть</a>
                        </div>
                        <div class="cart-abs">
                            <i class="bi bi-bag"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 pb-3">
                    <div class="card ">
                        <div class="card-header">
                            <h5>История заказов</h5>
                        </div>
                        <div class="card-body">
                            <a class="button">Открыть</a>
                        </div>
                        <div class="cart-abs">
                            <i class="bi bi-coin"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 pb-3">
                    <div class="card ">
                        <div class="card-header">
                            <h5>Основные настройки</h5>
                        </div>
                        <div class="card-body">
                            <a class="button">Открыть</a>
                        </div>
                        <div class="cart-abs">
                            <i class="bi bi-coin"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>