{% load widget_tweaks %}

<div class="form-app">
    <div class="form-wrapper">
        <div class="w-100">
            <h3 class="aligned-center font-active max-h-600">О, Привет!</h3>
            <p class="aligned-center font-active max-h-600 w-100 pb-3">Заходи и поехали настраивать ботов</p>
            <div class="card no-shadow relative mt-5">
                <div class="img_abs">
                    <a href="/" class="logo py-2 d-flex align-items-center justify-content-center">
                        <div>
                            <svg id="Группа_1" data-name="Группа 1" xmlns="http://www.w3.org/2000/svg" width="30"
                                 height="30" viewBox="0 0 237.062 276.281">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: none;
                                            stroke: #fff;
                                            stroke-width: 20px;
                                        }

                                        .cls-1, .cls-2 {
                                            fill-rule: evenodd;
                                        }

                                        .cls-2 {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <path id="Эллипс_6" data-name="Эллипс 6" class="cls-1"
                                      d="M211.374,91.321a107.16,107.16,0,0,1,107.16,107.16c0,53.85-31.226,89.83-65.945,109.909-32.855,20.582-91.343,21.218-101.665,16.486-7.074,3.982,11.6-24.411,10.991-24.729-34.065-17.944-60.449-60.488-60.449-101.666C101.466,139.3,152.191,91.321,211.374,91.321Z"
                                      transform="translate(-91.469 -61)"/>
                                <path id="Прямоугольник_скругл._углы_1" data-name="Прямоугольник, скругл. углы 1"
                                      class="cls-2"
                                      d="M108,61a10,10,0,0,1,10,10v66a10,10,0,0,1-20,0V71A10,10,0,0,1,108,61Zm0,0a10,10,0,0,1,10,10v66a10,10,0,0,1-20,0V71A10,10,0,0,1,108,61Zm0,0a10,10,0,0,1,10,10v66a10,10,0,0,1-20,0V71A10,10,0,0,1,108,61Z"
                                      transform="translate(-91.469 -61)"/>
                            </svg>
                            {#                    <img src="/static/img/logo-dark.png">#}
                        </div>
                        <div style="font-size: 25px !important;" class="logo-text pt-2 pe-2">
                            botaferma
                        </div>
                    </a>
                </div>
                <div class="card-body pb-3 pt-4">
                    <form action="{% url 'signup' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {% render_field form.username class="classical_round px-3 py-2" placeholder="Введите номер телефона" type="text" %}
                        {% render_field form.password class="classical_round px-3 py-2" placeholder="Введите пароль" type="password" %}
                        {#                    <input class="classical_round px-3 py-2" placeholder="Введите почту или телефон">#}
                        {##}
                        {#                    <input class="classical_round px-3 py-2" type="password" placeholder="Введите пароль">#}
                        {#                    <a class="just_link underline_link link_color pt-2 font-14">Забыли пароль?</a>#}

                        <button type="submit" class="d-flex align-items-center w-100 justify-content-center mt-3">
                            <div class="pointer icon-normal icon-normal-hover w-100 px-3 py-2 aligned-center">
                                Войти
                            </div>
                        </button>

                        <div class="d-flex align-items-center justify-content-center pb-3 mt-3 bottom_border">
                            {#                        <div class="social-icon text-muted">#}
                            {#                            <i class="bi bi-google"></i>#}
                            {#                        </div>#}
                            {#                        <div class="social-icon text-muted">#}
                            {#                            <i class="bi bi-telegram"></i>#}
                            {#                        </div>#}
                        </div>
                        <div class="relative d-flex justify-content-center pt-1 mt-3">
                            <p class="abs-text  mt-3 text-muted font-14 px-2">Нет аккаунта?</p>
                            <a href="{% url 'register' %}"
                               class="w-100 pointer mt-2 me-2 icon-success icon-success-hover px-3 py-2 aligned-center">
                                Создать аккаунт
                            </a>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



