<div class="dashboard-wrapper">
    <div class="d-flex align-items-center justify-content-start my-3">
        <h4 class="ps-2 pe-3 my-2">Настройка прав и состава команды</h4>

    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div style="max-width: 600px" class="row left-menu">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="">Состав команды</h5>
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="nav-link mx-1 nav-link-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </a>
                                <a class="nav-link hidden mx-1 nav-link-icon remove-members">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-0 pb-3">
                            <div style="max-height: 600px; overflow-y: auto; overflow-x: hidden" class="row">
                                <div class="col-12 py-1">

                                    <div class="member">
                                        <input type="checkbox" class="custom-checkbox" id="3" name="3"
                                               value="yes">
                                        <label for="3"
                                               class="w-100 py-2 px-3 label-btn pointer justify-content-between">
                                            <div class="w-100 ">
                                                <div class="member_info ">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                        <span class="member-name relative tooltip-div font-16">
                                                            Белов Никита
                                                            <i class="state admin bi bi-code"></i>
                                                            <div class="tooltip-bottom">Администратор</div>
                                                        </span>
                                                            @<span
                                                                class="member-telegram">BelovNikitaIgorevich</span>
                                                        </div>
                                                        <a class="px-2 just_link member-edit">
                                                            <i class="bi bi-pen"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                        </label>
                                    </div>

                                </div>
                                <div class="col-12 py-1">

                                    <div class="member">
                                        <input type="checkbox" class="custom-checkbox" id="2" name="2"
                                               value="yes">
                                        <label for="2"
                                               class="w-100 py-2 px-3 label-btn pointer justify-content-between">
                                            <div class="w-100 ">
                                                <div class="member_info ">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                        <span class="member-name relative tooltip-div font-16">
                                                            Белов Никита
                                                            <i class="state star-gold bi bi-star"></i>
                                                            <div class="tooltip-bottom">CEO</div>
                                                        </span>
                                                            @<span
                                                                class="member-telegram">BelovNikitaIgorevich</span>
                                                        </div>
                                                        <a class="px-2 just_link member-edit">
                                                            <i class="bi bi-pen"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                        </label>
                                    </div>

                                </div>
                                <div class="col-12 py-1">

                                    <div class="member">
                                        <input type="checkbox" class="custom-checkbox" id="1" name="1"
                                               value="yes">
                                        <label for="1"
                                               class="w-100 py-2 px-3 label-btn pointer justify-content-between">
                                            <div class="w-100 ">
                                                <div class="member_info ">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                        <span class="member-name relative tooltip-div font-16">
                                                            Белов Никита
                                                        </span>
                                                            @<span
                                                                class="member-telegram">BelovNikitaIgorevich</span>
                                                        </div>
                                                        <a class="px-2 just_link member-edit">
                                                            <i class="bi bi-pen"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="right-menu hide-sm">
                <div class="screen-content">
                    <div class="card">
                        <div class="card-header pe-0">
                            <div class="d-flex align-items-center mb-3 justify-content-between">
                                <div class="user-info">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <img class="user_icon" src="/static/img/avatar/avatar-1.png">
                                        <div>
                                            <span class="member-name relative tooltip-div font-16">Белов Никита</span>
                                            @<span class="member-telegram">BelovNikitaIgorevich</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="nav-link nav-link-lg remove remove-item relative">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                            <div class="bot-permissions">
                                <ul class="p-0 m-0">
                                    <li class="bot-item  my-1 py-2">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="sm-gradient uppercase gradient-orange me-3">tm</div>
                                            <div class="sm-bot-name flex-grow-1 me-3">@test_bot</div>
                                            <a class="nav-link nav-link-lg relative">
                                                <i class="bi bi-gear"></i>
                                            </a>
                                        </div>
                                        <div class="sm-bot-permission mt-2">
                                            <span class="perm-badge badge-blue">чтение</span>
                                            <span class="perm-badge badge-purple">редакт.</span>
                                            <span class="perm-badge badge-yellow">диалог</span>
                                            <span class="perm-badge badge-red">рассылка</span>
                                            <span class="perm-badge badge-green">настройка</span>
                                        </div>

                                    </li>
                                    <li class="bot-item  my-1 py-2">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="sm-gradient uppercase gradient-orange me-3">tm</div>
                                            <div class="sm-bot-name flex-grow-1 me-3">@test_bot</div>
                                            <a class="nav-link nav-link-lg relative">
                                                <i class="bi bi-gear"></i>
                                            </a>
                                        </div>
                                        <div class="sm-bot-permission mt-2">
                                            <span class="perm-badge badge-blue">чтение</span>
                                            <span class="perm-badge badge-purple">редакт.</span>
                                            <span class="perm-badge badge-yellow">диалог</span>
                                            <span class="perm-badge badge-red">рассылка</span>
                                            <span class="perm-badge badge-green">настройка</span>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="button-footer m-0 me-2  aligned-center w-100 save close_modal">Сохранить
                                </div>
                                <div class="button-footer m-0 ms-2 aligned-center w-100 cancel close_modal">Отменить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="personModal" class="modal-wrapper hidden">
    <div class="modal-block">
        <div class="card w-100">
            <div class="card-header pe-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h5>Настройка пользователя</h5>
                    <a class="nav-link close_modal nav-link-icon close">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-3 justify-content-between">
                    <div class="user-info">
                        <div class="d-flex align-items-center justify-content-start">
                            <img class="user_icon" src="/static/img/avatar/avatar-1.png">
                            <div>
                                <span class="member-name relative tooltip-div font-16">Белов Никита</span>
                                @<span class="member-telegram">BelovNikitaIgorevich</span>
                            </div>
                        </div>
                    </div>
                    <a class="nav-link nav-link-lg remove remove-item relative">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
                <div style="max-height: 400px; overflow-y: auto" class="bot-permissions">
                    <ul class="p-0 m-0">
                        <li class="bot-item  my-1 py-2">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="sm-gradient uppercase gradient-orange me-3">tm</div>
                                <div class="sm-bot-name flex-grow-1 me-3">@test_bot</div>
                                <a class="nav-link nav-link-lg relative">
                                    <i class="bi bi-gear"></i>
                                </a>
                            </div>
                            <div class="sm-bot-permission mt-2">
                                <span class="perm-badge badge-blue">чтение</span>
                                <span class="perm-badge badge-purple">редакт.</span>
                                <span class="perm-badge badge-yellow">диалог</span>
                                <span class="perm-badge badge-red">рассылка</span>
                                <span class="perm-badge badge-green">настройка</span>
                            </div>

                        </li>
                        <li class="bot-item  my-1 py-2">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="sm-gradient uppercase gradient-orange me-3">tm</div>
                                <div class="sm-bot-name flex-grow-1 me-3">@test_bot</div>
                                <a class="nav-link nav-link-lg relative">
                                    <i class="bi bi-gear"></i>
                                </a>
                            </div>
                            <div class="sm-bot-permission mt-2">
                                <span class="perm-badge badge-blue">чтение</span>
                                <span class="perm-badge badge-purple">редакт.</span>
                                <span class="perm-badge badge-yellow">диалог</span>
                                <span class="perm-badge badge-red">рассылка</span>
                                <span class="perm-badge badge-green">настройка</span>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="button-footer m-0 me-2  aligned-center w-100 save close_modal">Сохранить</div>
                    <div class="button-footer m-0 ms-2 aligned-center w-100 cancel close_modal">Отменить</div>
                </div>
            </div>

        </div>
    </div>
</div>
