{#<div class="main-body">#}
{#    <div class="manage-btn_block d-flex align-items-start justify-content-between">#}
{#        <div class="block_btn">#}
{#            <div class="d-flex align-items-center justify-content-between">#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="block_btn">#}
{#            <div class="d-flex align-items-center justify-content-between">#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#                <a class="nav-link"><i class="fa-regular fa-bell"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="blocks">#}
{#</div>#}
<div class="scenario-wrapper hide-sm">

    <div class="choice-body row m-0 p-0">
        <div class="col-md-4 col-sm-12 m-0 p-0">
            <div class="card">
                <div class="card-header bottom_border">
                    <h5>Информация о рассылке</h5>
                </div>
                <div class="card-body">
                    <label>Дата и время рассылки</label>
                    <div class="d-flex flex-column flex-sm-row flex-lg-row flex-md-row flex-xl-row align-items-center justify-content-justify">
                        <div class="with_icon  me-2 input_form" style="position: relative">
                            <input class="" placeholder="Дата">
                            <i class="bi bi-calendar-event errspan"></i>
                        </div>
                        <div  type="time" class="with_icon ms-2 input_form" style="position: relative">
                            <input class="" placeholder="Время">
                            <i class="bi bi-clock errspan"></i>
                        </div>
                    </div>
                    <label>Отправить</label>
                    <input class="input_form" placeholder="Список">
                    <label>Не отправлять</label>
                    <input class="input_form" placeholder="Список">


                    <label>Статус</label>
                    <div class="input_form">
                        <span>Черновик</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 m-0 p-0">
            <div class="modal_bg-sm"></div>
            <div class="screen-content">
                <div class="screen-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <input class="input_header" value="Новый экран">
                        <div class="dropdown">
                            <a class="nav-link nav-link-icon" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false"><i class="far fa-plus"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Текст</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Файл</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Корзина</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Геолокация</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Корзина</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Товар</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Клавиатура</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Изображение</span>
                                        <i class="bi bi-paperclip"></i>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="screen-body">
                    <div class="card_field">
                        <div class="card-header text_card">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="fa-regular fa-comment"></i>
                                    <span>Текст</span>
                                </div>
                                <a class="nav-link nav-link-icon">
                                    <i class="fa-regular fa-x"></i>
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <div>
                                <textarea class="bot_text">Добрый день! Меня зовут Владислава</textarea>
                                <textarea class="bot_text">Добрый день! Меня зовут Владислава</textarea>
                            </div>
                            <span class="additional-info">Текстовые сообщения будут выводится в случайном порядке</span>

                        </div>
                    </div>
                    <div class="card_field">
                        <div class="card-header keyboard_card">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="fa-regular fa-keyboard"></i>
                                    <span>Клавиатура</span>
                                </div>
                                <a class="nav-link nav-link-icon">
                                    <i class="fa-regular fa-x"></i>
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="keyboards">
                                <div class="keyboard_button">
                                    Кнопка 1
                                    <div class="placeholder-button">
                                        <div class="d-flex align-items-center justify-content-center"></div>
                                        <i class="fa-regular fa-pen-to-square"></i>
                                        <i class="fa-regular fa-x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="keyboard_button">
                                Кнопка 2
                            </div>
                            <div class="add_button">
                                <i class="fa-regular fa-circle-dot"></i>
                                <span>Добавить кнопку</span>
                            </div>
                        </div>

                    </div>
                    <div class="card_field">
                        <div class="card-header image_card">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="fa-regular fa-image"></i>
                                    <span>Изображение</span>
                                </div>
                                <a class="nav-link nav-link-icon">
                                    <i class="fa-regular fa-x"></i>
                                </a>
                            </div>

                        </div>
                        <div class="row m-0 card-body ">
                            <div class="col-lg-4 col-sm-12 image_field">
                                <div class="image_element">
                                    <div class="image_placeholder">
                                        <i class="bi bi-cloud-arrow-up"></i></div>
                                    <div class="image_text">
                                        <span>Текст</span>
                                        <textarea placeholder="Подзаголовок"></textarea>


                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-sm-12 image_field">
                                <div class="image_element">
                                    <div class="image_placeholder">
                                        <i class="bi bi-cloud-arrow-up"></i></div>
                                    <div class="image_text">
                                        <span>Текст</span>
                                        <textarea placeholder="Подзаголовок"></textarea>


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card_field">
                        <div class="card-header file_card">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="bi bi-paperclip"></i>
                                    <span>Файл</span>
                                </div>
                                <a class="nav-link nav-link-icon">
                                    <i class="fa-regular fa-x"></i>
                                </a>
                            </div>

                        </div>
                        <div class="row m-0 card-body ">
                            <div class="col-12 file_field">
                                <div class="file_element">
                                    <div class="file_placeholder">
                                        <i class="bi bi-cloud-arrow-up"></i>
                                    </div>
                                    <div class="file_text">
                                        <span>Максимальный размер файла - 10Мб</span>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="local_footer"></div>
            </div>
        </div>
    </div>
</div>

</div>