{% load static %}
{% block main_page %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Pricing</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Pricing</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">


            <!-- Left side columns -->
            <div class="row">
                <!-- New bot Card -->
                <div class="pricing-card col-md-6 col-xl-auto ">
                    <div class="me-4 card info-card revenue-card">
                        <div class="card-body mt-4 justify-content-center">
                            <div class="ps-3">
                                <div class="price_header my-3">
                                    <h6 class="mb-3">Free</h6>
                                    <span class="grey-card">Individual</span>
                                </div>

                                <div class='price my-5'>
                                    $10<span class="additional_info">/month</span>
                                </div>
                                <a class="my-3">
                                    <div class="d-flex justify-content-center btn btn-dark">Select</div>
                                </a>
                                <div class="li_comperative my-3">
                                    <ul>
                                        <li>Up to 280 subscribers</li>
                                        <li>24/7 technical support</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="pricing-card col-md-6 col-xl-auto ">
                    <div class="me-4 card info-card revenue-card">
                        <div class="card-body mt-4 justify-content-center">
                            <div class="ps-3">
                                <div class="price_header my-3">
                                    <h6 class="mb-3">Startup</h6>
                                    <span class="grey-card">For small companies</span>
                                </div>

                                <div class='price my-5'>
                                    $10<span class="additional_info">/month</span>
                                </div>
                                <a class="my-3">
                                    <div class="d-flex justify-content-center btn btn-dark">Select</div>
                                </a>
                                <div class="li_comperative my-3">
                                    <ul>
                                        <li>Up to 280 subscribers</li>
                                        <li>24/7 technical support</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="pricing-card col-md-6 col-xl-auto ">

                    <div class="me-4 card card_popular info-card revenue-card">

                        <div class="card-body  mt-4 justify-content-center">

                            <div class="ps-3">
                                <div class="price_header my-3">
                                    <div class="d-flex">
                                        <h6 class="mb-3">Optimal</h6>
                                        <div class="popular_bage">POPULAR</div>
                                    </div>


                                    <span class="grey-card">Industrial usage</span>
                                </div>

                                <div class='price my-5'>
                                    $10<span class="additional_info">/month</span>
                                </div>
                                <a class="my-3">
                                    <div class="d-flex justify-content-center btn btn-dark">Select</div>
                                    {#                                    <div class="d-flex justify-content-center btn btn-success">Purchased</div>#}
                                </a>
                                <div class="li_comperative my-3">
                                    <ul>
                                        <li>Up to 280 subscribers</li>
                                        <li>24/7 technical support</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="pricing-card col-md-6 col-xl-auto ">
                    <div class="me-4 card card_purchased info-card revenue-card">
                        <div class="card-body  mt-4 justify-content-center">
                            <div class="ps-3">
                                <div class="price_header my-3">
                                    <h6 class="mb-3">Premium</h6>
                                    <span class="grey-card">For big company with special requirements</span>
                                </div>

                                <div class='price my-5'>
                                    $10<span class="additional_info">/month</span>
                                </div>
                                <a class="my-3">
                                    {#                                    <div class="d-flex justify-content-center btn btn-dark">Select</div>#}
                                    <div class="d-flex justify-content-center btn-grey">Purchased</div>
                                </a>
                                <div class="li_comperative my-3">
                                    <ul>
                                        <li>Up to 280 subscribers</li>
                                        <li>24/7 technical support</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- End Revenue Card -->


        </section>

    </main><!-- End #main -->
{% endblock main_page %}
