<div class="dashboard-wrapper">
    <div class="row additional-management">
        <div class="col-12 pb-3">
            <div class="card">
                <div class="vertical_list d-flex flex-row">
                    <div class="left-menu-element active">
                        <a class="sidebar-link scenario">
                            <span>Сценарий</span>

                        </a>
                    </div>
                    <div class="left-menu-element">
                        <a class="sidebar-link scheme">
                            <span>Схема</span>

                        </a>
                    </div>
                    <div class="left-menu-element">
                        <a class="sidebar-link add_action nav-link-icon">
                            <i class="far fa-plus"></i>

                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="row left-menu">
                <div class="col-12 pb-3 main-management">
                    <div class="card">
                        <div class="vertical_list d-flex flex-row">
                            <div class="left-menu-element active">
                                <a class="sidebar-link scenario">
                                    <span>Сценарий</span>

                                </a>
                            </div>
                            <div class="left-menu-element">
                                <a class="sidebar-link scheme">
                                    <span>Схема</span>

                                </a>
                            </div>
                            <div class="left-menu-element">
                                <a class="sidebar-link add_action nav-link-icon">
                                    <i class="far fa-plus"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="vertical_list d-flex flex-column">
                                <div class="left-menu-element">
                                    <a class="sidebar-link active notification show_setting d-flex align-items-center justify-content-between">
                                        <span>Стартовое сообщение</span>
                                    </a>

                                </div>
                                <div class="left-menu-element bottom_border">
                                    <a class="sidebar-link notification show_setting d-flex align-items-center justify-content-between">
                                        <span>Сообщение по умолчанию</span>
                                    </a>
                                </div>
                                <div class="left-menu-element">
                                    <a class="sidebar-link notification show_setting d-flex align-items-center justify-content-between">
                                        <span>Новый экран</span>
                                        <div class="d-flex align-items-center justify-content-end">
                                            <div class="hover_btn">
                                                <i class="bi bi-x-lg"></i>
                                            </div>
                                            <div class="hover_btn">
                                                <i class="bi bi-clipboard2"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-8">
            <div class="right-menu hide-sm">
                <div class="modal_bg-sm"></div>
                <div class="screen-content">
                    <div class="screen-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <input class="input_header" value="Новый экран">
                            <div class="dropdown">
                                <a class="nav-link nav-link-icon" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false"><i class="far fa-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Текст</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Файл</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Корзина</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Геолокация</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Корзина</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Товар</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Клавиатура</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                           href="#">
                                            <span>Изображение</span>
                                            <i class="bi bi-paperclip"></i>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="screen-body">
                        <div class="card_field">
                            <div class="card-header text_card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-regular fa-comment"></i>
                                        <span>Текст</span>
                                    </div>
                                    <a class="nav-link nav-link-icon">
                                        <i class="fa-regular fa-x"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="card-body">
                                <div>
                                    <textarea class="bot_text">Добрый день! Меня зовут Владислава</textarea>
                                    <textarea class="bot_text">Добрый день! Меня зовут Владислава</textarea>
                                </div>
                                <span class="additional-info">Текстовые сообщения будут выводится в случайном порядке</span>

                            </div>
                        </div>
                        <div class="card_field">
                            <div class="card-header keyboard_card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-regular fa-keyboard"></i>
                                        <span>Клавиатура</span>
                                    </div>
                                    <a class="nav-link nav-link-icon">
                                        <i class="fa-regular fa-x"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="keyboards">
                                    <div class="keyboard_button">
                                        Кнопка 1
                                        <div class="placeholder-button">
                                            <div class="d-flex align-items-center justify-content-center"></div>
                                            <i class="fa-regular fa-pen-to-square"></i>
                                            <i class="fa-regular fa-x"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="keyboard_button">
                                    Кнопка 2
                                </div>
                                <div class="add_button">
                                    <i class="fa-regular fa-circle-dot"></i>
                                    <span>Добавить кнопку</span>
                                </div>
                            </div>

                        </div>
                        <div class="card_field">
                            <div class="card-header image_card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-regular fa-image"></i>
                                        <span>Изображение</span>
                                    </div>
                                    <a class="nav-link nav-link-icon">
                                        <i class="fa-regular fa-x"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="row m-0 card-body ">
                                <div class="col-lg-4 col-sm-12 image_field">
                                    <div class="image_element">
                                        <div class="image_placeholder">
                                            <i class="bi bi-cloud-arrow-up"></i></div>
                                        <div class="image_text">
                                            <span>Текст</span>
                                            <textarea placeholder="Подзаголовок"></textarea>


                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-sm-12 image_field">
                                    <div class="image_element">
                                        <div class="image_placeholder">
                                            <i class="bi bi-cloud-arrow-up"></i></div>
                                        <div class="image_text">
                                            <span>Текст</span>
                                            <textarea placeholder="Подзаголовок"></textarea>


                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="card_field">
                            <div class="card-header file_card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="bi bi-paperclip"></i>
                                        <span>Файл</span>
                                    </div>
                                    <a class="nav-link nav-link-icon">
                                        <i class="fa-regular fa-x"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="row m-0 card-body ">
                                <div class="col-12 file_field">
                                    <div class="file_element">
                                        <div class="file_placeholder">
                                            <i class="bi bi-cloud-arrow-up"></i>
                                        </div>
                                        <div class="file_text">
                                            <span>Максимальный размер файла - 10Мб</span>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="local_footer"></div>
                </div>
            </div>
        </div>
    </div>

</div>